root: true

env:
  mocha: true
  node: true

extends: "airbnb-base"

parserOptions:
  sourceType: "script"

rules:
  max-len:
    - 2
    - 120
  no-multi-assign: "off"
  no-param-reassign: "off"
  strict:
    - "error"
    - "safe"
